<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="HomeWebAppDBConnectionString" connectionString="Data Source=.;Initial Catalog=HomeWebAppDB;integrated security=true; Connect timeout=0" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>