<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ALBUM_ROOT_PHYSICAL_DIR" value="C:\Users\Sana\Desktop\webPhotos\"/>
    <add key="ALBUM_ROOT_PHYSICAL_DIR_SMALL" value="C:\FTP\Eric\Site\SmallPhotoAlbums\"/>
    <add key="ALBUM_ROOT_VIRTUAL_DIR_SMALL" value="SmallPhotoAlbums/"/>
    <add key="ALBUM_ROOT_VIRTUAL_DIR" value="PhotoAlbums/"/>
    <add key="VIDEO_ROOT_PHYSICAL_DIR" value="C:\Users\Sana\Desktop\webVideos\"/>
    <add key="EmailUsername" value="thewrightpicks@gmail.com"/>
    <add key="EmailPassword" value="DDEBB0F1-CAB5-4785-B069-476139015692"/>
  </appSettings>
  <connectionStrings>
    <add name="HomeWebAppDBConnectionString" connectionString="Data Source=.;Initial Catalog=HomeWebAppDB;integrated security=true; Connect timeout=0" providerName="System.Data.SqlClient"/>
    <!--
    <add name="HomeWebAppDBConnectionStringProd" connectionString="Data Source=.\sqlexpress;Initial Catalog=HomeWebAppDB;User ID=sa;Password=$en$road222!; Connect timeout=0" providerName="System.Data.SqlClient"/>        
    <add name="HomeWebAppDBConnectionStringDev" connectionString="Data Source=(local)\eric;Initial Catalog=HomeWebAppDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="HomeWebAppDBConnectionString1" connectionString="Data Source=(local)\eric;Initial Catalog=HomeWebAppDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    -->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>